<table>
  <tr>
  	<th colspan=2><%= t('volunteer.ss') %></th>
  </tr>
  <tr>
    <td><%= t('volunteer.escuela') %>: <%= @volunteer.socialservices.first.escuela %></td>
    <td><%= t('volunteer.carrera') %>: <%= @volunteer.socialservices.first.carrera %></td>
  </tr>
  <tr>
    <td><%= t('volunteer.matricula') %>: <%= @volunteer.socialservices.first.matricula %></td>
    <td><%= t('volunteer.semestre') %>: <%= @volunteer.socialservices.first.semestre %></td>
  </tr>
  <tr>
    <td><%= t('volunteer.inicio') %>: <%= l @volunteer.socialservices.first.inicio %></td>
    <td><%= t('volunteer.fin') %>: <%= l @volunteer.socialservices.first.fin %></td>
  </tr> 
</table>