<tr>
  <td><%= image_tag(image_volunteer_path(volunteer), :size =>"20x20", :alt => "Avatar", :class => "avatarsmally") if volunteer.avatar? %><%= link_to "#{volunteer.name}", volunteer %></td>
  <td><%= link_to "#{volunteer.cgdvcode}", volunteer %></td>
  <td class="smally"><%= vol_status(volunteer.status) %></td>
  <% if can? :edit, @volunteer %>
  <td class="smally"><%= link_to t('helpers.submit.update', :model => "Datos"), edit_volunteer_path(volunteer) %></td>
  <% end %>
  <% if can? :destroy, @volunteer %>
  <td class="smally"><%= link_to t('helpers.delete.msg'), volunteer, :method => :delete, :confirm => t('helpers.delete.conf'), :title => "#{t('helpers.delete.msg')} #{volunteer.name}" %></td>
  <% end %>
</tr>
