<table>
  <tr>
  	<th colspan=3><%= t('patient.info') %></th>
  </tr>
  <tr>
  	<td><%= t('volunteer.status') %>: <%= vol_status(@volunteer.status) %></td>
  	<td><%= t('patient.cgdvcode') %>: <%= @volunteer.cgdvcode %></td>
  </tr>
  <tr>
    <td><%= t('patient.name') %>: <%= @volunteer.name %></td>
    <td><%= t('patient.sex') %>: <%= @volunteer.sex %></td> 
  </tr>
  <tr>
    <td><%= t('patient.birthdate') %>: <%= l @volunteer.birth %></td>
    <td><%= t('patient.age') %>: <%= t('datetime.distance_in_words.x_years', :count => edad(@volunteer.birth)) %></td>
    <td></td>
  </tr>
  <% unless @volunteer.extravolunteers.empty? %>
  <tr>
  	<td><%= t('volunteer.profesion') %>: <%= @volunteer.extravolunteers.first.profesion %></td>
  	<td><%= t('patient.blod') %>: <%= @volunteer.blood %></td>
  </tr>  
  <% end %>
</table>