<h1><%= t('helpers.submit.update', :model => "Voluntario") %></h1>
<%= nested_form_for @volunteer, :html => {:multipart => true} do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit t('helpers.edit') %>
  </div>
<% end %>
