<h1><%= t('volunteer.index') %></h1>
<h6><%= link_to t('helpers.submit.create', :model => "Nuevo Voluntario"), new_volunteer_path %></h6><br />

<%= search_form_for @search, :url => volunteers_path, :html => {:method => :get} do |f| %>
  
  <h6><%= t('search.title') %></h6>	
  <%= f.label :name_cont, t('patient.name') %>
  <%= f.text_field :name_cont %>
  <%= f.label :cgdvcode_eq, t('patient.cgdvcode') %>
  <%= f.text_field :cgdvcode_eq %>
  <%= f.submit t('helpers.search') %><br /><br />
<% end %>

<strong><%= t('search.sort') %>	</strong>

<%= paginate @volunteers %>

<table>
	<tr>
	  <td><strong><%= sort_link @search, :name, t('patient.name') %></strong></td>
	  <td><strong><%= sort_link @search, :cgdvcode, t('patient.cgdvcode') %></strong></td>
	  <td class="smally"><strong><%= sort_link @search, :status, t('volunteer.status') %></strong></td>
    </tr>
	<%= render @volunteers %>
</table>


<%= paginate @volunteers %>
