<h1><%= @volunteer.name %></h1>
<h4><%= t('volunteer.tr') %>: <%= @volunteer.tr %></h4>
<h4><%= t('volunteer.ta') %>: <%= @volunteer.ta %></h4>
<h4><%= t('volunteer.tf') %>: <%= @volunteer.tiempo_final %></h4>
<table>
<tr>
  <% if can? :read, Volunteer %>
  <td><strong><%= t('patient.cgdvcode') %></strong></td>
  <% end %>	
  <td><strong><%= t('all.created_at') %></strong></td>
  <td><strong><%= t('voltime.horas') %></strong></td>
  <td><strong><%= t('voltime.evento') %></strong></td>
  <% if can? :edit, Timereport %>
  <td></td>
  <% end %>
  <% if can? :destroy, Timereport %>
  <td></td>
  <% end %>
</tr>
	<%= render 'vol_times/volunteer', :volunteer => @volunteer %>
<tr>
</table>
<table>
	<tr>
	  <% if can? :read, Volunteer %>
	  <td><strong><%= t('patient.cgdvcode') %></strong></td>
	  <% end %>	
	  <td><strong><%= t('volunteer.day') %></strong></td>
	  <td><strong><%= t('volunteer.begin') %></strong></td>
	  <td><strong><%= t('volunteer.end') %></strong></td>
	  <td><strong><%= t('volunteer.tiempo') %></strong></td>
	  <td><strong><%= t('volunteer.evento') %></strong></td>
	</tr>
	<%= render 'timereports/volunteer', :volunteer => @volunteer %>
</table>