<h1><%= t('helpers.submit.update', :model => Contact.to_s) %></h1>
<%= nested_form_for(@provider) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit t('helpers.edit') %>
  </div>
<% end %>
