<h1><%= t('provider.index') %></h1>
<h6><%= link_to t('helpers.submit.create', :model => "Nuevo Proveedor"), new_provider_path %></h6><br />

<%= search_form_for @search, :url => providers_path, :html => {:method => :get} do |f| %>
  
  <h6><%= t('search.title') %></h6>	
  <%= f.label :proveedor_cont, t('provider.proveedor') %>
  <%= f.text_field :proveedor_cont %>
  <%= f.label :name_cont, t('patient.name') %>
  <%= f.text_field :name_cont %>
  <%= f.submit t('helpers.search') %><br /><br />
<% end %>

<strong><%= t('search.sort') %>	</strong>

<%= paginate @providers %>

<table>
	<tr>
	  <td><strong><%= sort_link @search, :proveedor, t('provider.proveedor') %></strong></td>
	  <td><strong><%= sort_link @search, :name, t('patient.name') %></strong></td>
    </tr>
	<%= render @providers %>
</table>


<%= paginate @providers %>
