<%= render 'shared/error_messages', :object => f.object %>
<table width="500">
  <tr>
  	<td><%= f.label :patient_id, t('patient.cgdvcode') %></td>
  	<td><%=f.label :name, t('patient.name') %></td>
    <td><%= f.label :fecha, t('note.fecha') %></td>
    <td><%= f.label :folio, t('note.folio') %></td>
  </tr>
  <tr>
  	<td><%= f.collection_select :patient_id, Patient.order('cgdvcode'), :id, :cgdvcode %></td>
  	<td><div id="patient_name"> </div></td>
    <td><%= f.date_select :fecha, :order => [:day, :month, :year],:start_year => Time.now.year - 10 %></td>
	<td><%= f.text_field :folio, :value => @folio, :size => 3 %></td>
  </tr>
</table>
<table class="note_container" width="500">
  <tr>
    <td><strong><%= t('note.codigo') %></strong></td>
    <td><strong><%= t('note.descripcion') %></strong></td>
    <td><strong><%= t('note.cuota') %></strong></td>
    <td><strong><%= t('note.cantidad') %></strong></td>
    <td><strong>Subtotal</strong></td>
    <td></td>
    <td><%= f.hidden_field :count, :value => @note.elements.count %></td>	
  </tr>
  <% index = 0 %>
  <%= f.fields_for :elements do |e| %>
  <%= render "element_fields", :f => e, :index => index %>
    <% index += 1 %> 	  
  <% end %>
  <tr><td id="#add_element" colspan=7><%= f.link_to_add t('note.add'), :elements %></td></tr>
</table>
<table width="500">
  <tr>
    <td><strong><%= t('note.subtotal') %></strong></td>
    <td><strong><%= t('note.adeudo') %></strong></td>
    <td><strong><%= t('note.total') %></strong></td>
    <td><strong><%= t('note.acuenta') %></strong></td>
    <td><strong><%= t('note.restan') %></strong></td>
  </tr>
</table>
<table class="note_container2" width="500">
  <tr>
    <td><%= f.text_field :subtotal, :size => 5 %></td>
    <td><%= f.text_field :adeudo, :size => 5 %></td>
    <td><%= f.text_field :total, :size => 5 %></td>
    <td><%= f.text_field :acuenta, :size => 5 %></td>
    <td><%= f.text_field :restan, :size => 5 %></td>
  </tr>
</table>