<%= search_form_for @search, :url => notas_patient_path(patient), :html => {:method => :get} do |f| %>
  
  <h6><%= t('search.title') %></h6>	
  <%= f.label :folio_cont, t('note.folio') %>
  <%= f.text_field :folio_eq %>
  <%= f.submit t('helpers.search') %><br /><br />
<% end %>

<strong><%= t('search.sort') %>	</strong>

<%= paginate @notes %>

<table>
	<tr>
	  <td><strong><%= sort_link @search, :folio, t('note.folio') %></strong></td>
	  <td><strong><%= t('patient.cgdvcode') %></strong></td>
	  <td><strong><%= sort_link @search, :created_at, t('all.created_at') %></strong></td>
    </tr>
	<%= render @notes %>
</table>


<%= paginate @notes %>
