<h1><%= t('note.index') %></h1>
<h6><%= link_to t('helpers.submit.create', :model => "Nueva Nota"), new_note_path %></h6><br />

<%= search_form_for @search, :url => notes_path, :html => {:method => :get} do |f| %>
  
  <h6><%= t('search.title') %></h6>	
  <%= f.label :folio_eq, t('note.folio') %>
  <%= f.text_field :folio_eq, :size => 3 %>
  <%= f.label :cgdvcode_eq, t('search.cgdvcode') %>
  <%= f.text_field :patient_cgdvcode_eq, :size => 3 %>
  <%= f.label :folio_cont, t('search.name') %>
  <%= f.text_field :patient_name_cont %>
  <%= f.submit t('helpers.search') %><br /><br />
<% end %>

<strong><%= t('search.sort') %>	</strong>

<%= paginate @notes %>

<table>
	<tr>
	  <td><strong><%= sort_link @search, :folio, t('note.folio'), :default_order => :desc %></strong></td>
	  <td><strong><%= t('patient.cgdvcode') %></strong></td>
	  <td><strong><%= sort_link @search, :created_at, t('all.created_at'), :default_order => :desc %></strong></td>
    </tr>
	<%= render @notes %>
</table>


<%= paginate @notes %>
