<tr>
  <td><%= day_text(dailyschedule.day) %></td>
  <td><%= l dailyschedule.begin, :format => :hourmin %></td>
  <td><%= l dailyschedule.end, :format => :hourmin %></td>
  <td><%= dailyschedule.tiempo %></td>
  <td><%= link_to t('helpers.edit'), edit_volunteer_dailyschedule_path(@volunteer,dailyschedule) %></td>
  <td>
  	<%= link_to t('helpers.delete.msg'), volunteer_dailyschedule_path(@volunteer,dailyschedule), :method => :delete, :confirm => t('helpers.delete.conf'), :title => "#{t('helpers.delete.msg')} #{dailyschedule.day}" %>
  </td>
</tr>
