<h1><%= t('helpers.submit.create', :model => "Horario por Dia") %></h1>
<%= form_for([@volunteer, @dailyschedule]) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit t('helpers.create') %>
  </div>
<% end %>
