<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i>(dejalo en blanco si no deseas cambiarlo)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(se necesita tu contraseña actual para confirmar los cambios)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancelar mi Cuenta</h3>

<p>¿No funciona? <%= link_to "Cancelar mi Cuenta", registration_path(resource_name), :confirm => "¿Estas seguro@?", :method => :delete %>.</p>

<%= link_to "Regresar", :back %>
