<tr>
  <td><%= comment.comment %></td>
  <% if can? :edit, Comment %>
  <td><%= link_to t('helpers.edit'), edit_polymorphic_path([model,comment]) %></td>
  <% end %>
  <% if can? :destroy, Comment %>
  <td><%= link_to t('helpers.delete.msg'), polymorphic_path([model,comment]), :method => :delete, :confirm => t('helpers.delete.conf'), :title => "#{t('helpers.delete.msg')} #{comment.comment}" %></td>
  <% end %>
</tr>
