<tr>
  <td><%= t('house.tipo') %>: <%= house.tipo %></td>
  <td><%= t('house.habitaciones') %>: <%= house.habitaciones %></td>
</tr>
<tr>
  <td><%= t('house.habitantes') %>: <%= house.habitantes %></td>
  <td><%= t('house.familiares') %>: <%= house.familiares %></td>
</tr>
<tr>
  <td colspan=2><%= t('house.menores') %>: <%= house.menores %></td>
</tr>
<tr>
  <td colspan=2><%= t('house.economicaactivas') %>: <%= house.economicaactivas %></td>
</tr>
<tr><td colspan=2><%= link_to t('helpers.delete.msg'), patient_house_path(@patient,house), :method => :delete, :confirm => t('helpers.delete.conf') %></td></tr>
