a, br {
  display:none;
}

body {
  margin:0;
  padding:0;
  color:#000;
  background:#fff;
  font-family:"Times New Roman",Georgia,Serif;
}

h1 {
  font-size: 18pt;
  margin:0.25em .25em 0.25em;
}

.patientprint {
  font-size: 11pt;
}
.nota {
  font-size: 16px;
  border-spacing: 0px;
  border-color: black;
}

.nota th td {
  border-width: 1px;
  border-color: red;
  padding: 3px;
  border-style: solid;
}

.nota_datos {
  font-size: 7.5pt;
}

.nota_leyenda {
  font-size: 8pt;
}

.nota_title {
  font-size: 13pt;
}

hr {
  height: 0;
  border-width: 1px 0 0 0;
  border-style: dashed;
  border-color: black;
  margin-bottom: 30px;
}

#wrap {
  width:750px;
  margin:0 auto;
  background:#fff;
}

#header {
  padding:5px 10px;
  background:#fff;
}


#mainleft {
  float:left;
  width:355px;
  padding:10px;
  background:#fff;
}

#mainright {
  float:right;
  width:355px;
  padding:10px;
  background:#fff;
}

#footer {
  clear:both;
  padding:5px 10px;
  background:#fff;
}

#footer p {
  margin:0;
}

* html #footer {
  height:1px;
}