<%= render 'shared/error_messages', :object => f.object %>
<div>
  <%= f.label :diagnostico, t('patient.diagnostico') %><br />
  <%= f.select :diagnostico, CatalogoDiagnostico.all.collect {|d| [d.diagnostico,d.id] }  %>
</div>