<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :name, t('user.name') %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :email, t('user.email') %><br />
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password, t('user.password') %><br />
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation, t('user.confirmation') %><br />
  <%= f.password_field :password_confirmation %>
</div>
<div>
<%= f.label :volunteer_id, t('patient.cgdvcode') %><br />	
  <%= f.collection_select :volunteer_id, Volunteer.order('cgdvcode'), :id, :cgdvcode %><br />
</div>
<div>  
  <%= f.label :volunteer_id, t('patient.name') %><br />
  <div id="volunteer_name"> </div><br />
</div>
<% unless @user.admin? %>
  <div class="field">
    <%= f.label :roles, t('user.roles') %><br />
    <%= check_box_tag(:ss,1,@user.is_ss?) %>
    <%= label_tag(:ss, "Servicio Social") %><br />

    <%= check_box_tag(:oficina,1,@user.is_oficina?) %>
    <%= label_tag(:oficina, "Oficina") %><br />

    <%= check_box_tag(:timereport,1,@user.is_timereport?) %>
    <%= label_tag(:timereport, "Crear Reportes") %><br />

    <%= check_box_tag(:managetimereport,1,@user.is_managetimereport?) %>
    <%= label_tag(:managetimereport, "Controlar Reportes") %><br />

    <%= check_box_tag(:managedonor,1,@user.is_managedonor?) %>
    <%= label_tag(:managedonor, "Controlar Donadores") %><br />

    <%= check_box_tag(:managecontact,1,@user.is_managecontact?) %>
    <%= label_tag(:managecontact, "Controlar Contactos") %><br />
  </div>
<% end %>
<div>
  <%= f.label :language, t('user.language') %><br />
  <%= f.select :language, [['Español', 'sp'], ['English', 'en']] %>
</div>
<div>
  <%= f.label :avatar, 'Foto' %><br />
  <%= image_tag(image_user_path(@user)) if @user.avatar? %><br />
  <%= f.file_field :avatar %><br />
  <%= f.hidden_field :avatar_cache %><br />
  <%= f.label :avatar, 'Eliminar Foto' %>
  <%= f.check_box :remove_avatar %><br />
</div>