<h1><%= t('user.index') %></h1>
<h6><%= link_to t('helpers.submit.create', :model => "Nuevo Usuario"), new_user_path %></h6>
<%= paginate @users %>

<table>
<tr>
  <th><%= t('user.name') %></th>
  <th><%= t('user.email') %></th>
  <th></th>
  <th></th>
</tr>

  <%= render @users %>
</table>
<%= paginate @users %>
