<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <%= image_tag(image_user_path(@user), :alt => "Avatar", :class => "useravatar round") if @user.avatar? %><br />
      <h1>
      	<%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong><%= t('user.email') %>:</strong>  <%= @user.email %><br />
      <strong>Expediente de Voluntario: </strong> 
      <% unless @user.volunteer.nil? %>
        <%= link_to @user.volunteer.name, @user.volunteer %>
      <% else %>
        <%= link_to "No tiene expediente asignado, asignar?", edit_user_path(@user) %>
      <% end %>
      <br />
      <strong>Veces Logeadas: </strong> <%= @user.sign_in_count %><br />
    </td>
  </tr>
</table>
