<h2>Cambiar tu Contraseña</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "Nueva Contraseña" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Confirmar Nueva Contraseña" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Cambiar tu Contraseña" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>