<h2>¿Olvidaste tu Contraseña?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Enviarme correo electronico para cambiar mi contraseña" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>