<h1><%= t('contact.index') %></h1>
<h6><%= link_to t('helpers.submit.create', :model => "Nuevo Contacto"), new_contact_path %></h6><br />

<%= search_form_for @search, :url => contacts_path, :html => {:method => :get} do |f| %>
  
  <h6><%= t('search.title') %></h6>	
  <%= f.label :name_cont, t('patient.name') %>
  <%= f.text_field :name_eq %>
  <%= f.label :company_cont, t('contact.company') %>
  <%= f.text_field :company_eq %>
  <%= f.submit t('helpers.search') %><br /><br />
<% end %>

<strong><%= t('search.sort') %>	</strong>

<%= paginate @contacts %>

<table>
	<tr>
	  <td><strong><%= sort_link @search, :name, t('patient.name') %></strong></td>
	  <td><strong><%= sort_link @search, :company, t('contact.company') %></strong></td>
    </tr>
	<%= render @contacts %>
</table>


<%= paginate @contacts %>
