<table>
  <tr>
  	<th colspan=3><%= t('patient.info') %></th>
  </tr>
  <tr>
    <td colspan=3><strong><%= link_to t('helpers.submit.update', :model => "Datos Principales"), edit_patient_path(@patient) %></strong></td>
  </tr>
  <tr>
  	<td colspan=3><%= t('patient.status') %>: <%= pat_status(@patient.status) %></td>
  </tr>
  <tr>
  	<td><%= t('patient.cgdvcode') %>: <%= @patient.cgdvcode %></td>
  	<td colspan=2><%= t('all.created_at') %>: <%= l @patient.created_at, :format => :small %></td>
  </tr>
  <tr><td colspan=3><%= t('patient.name') %>: <%= @patient.name %></td></tr>
  <tr>
    <td><%= t('patient.blod') %>: <%= @patient.blod %></td>
    <td><%= t('patient.sex') %>: <%= @patient.sex %></td>
    <td><%= t('patient.age') %>: <%= t('datetime.distance_in_words.x_years', :count => edad(@patient.birthdate)) %></td>
  </tr>
  <tr><td colspan=3><%= t('patient.birthdate') %>: <%= l @patient.birthdate, :format => :long %></td></tr>
  <% if @patient.status == 4 and !@patient.fdefuncion.nil? and !@patient.faviso.nil? and !@patient.montocon.nil? %>
  <tr>
    <td><%= t('patient.fdefuncion') %>: <%= l @patient.fdefuncion %></td>
    <td><%= t('patient.faviso') %>: <%= l @patient.faviso %></td>
    <td><%= t('patient.montocon') %>: <%= @patient.montocon %></td>
  </tr>
  <% end %>
</table>