<%= render 'shared/error_messages', :object => f.object %>

  <%= f.label :evento, t('volunteer.evento') %><br />
  <%= f.select :evento, Timereport::EVENTO %><br />

  <%= f.label :volunteer_id, t('patient.cgdvcode') %><br />	
  <%= f.collection_select :volunteer_id, Volunteer.order('cgdvcode'), :id, :cgdvcode %><br />
  
  <%= f.label :volunteer_id, t('patient.name') %><br />
  <div id="volunteer_name"> </div><br />

  <%= f.label :day, t('volunteer.day') %><br />
  <%= f.date_select :day %><br />

  <%= f.label :begin, t('volunteer.begin') %><br />
  <%= f.time_select :begin %><br />

  <%= f.label :end, t('volunteer.end') %><br />
  <%= f.time_select :end %><br />
