<tr>
  <% if can? :read, Volunteer %>
  <td><%= link_to cgdvcode_vol(timereport), volunteer_path(timereport.volunteer_id) %></td>
  <% end %>
  <td><%= link_to l(timereport.day), timereport %></td>
  <td><%= link_to l(timereport.begin, :format => :hourmin), timereport %></td>
  <td><%= link_to l(timereport.end, :format => :hourmin), timereport %></td>
  <td><%= link_to timereport.tiempo, timereport %></td>
  <td><%= link_to timereport.evento, timereport %></td>
  <% if can? :edit, timereport %>
  <td class="smally"><%= link_to t('helpers.edit'), edit_timereport_path(timereport) %></td>
  <% end %>
  <% if can? :destroy, timereport %>
  <td class="smally">
  	<%= link_to t('helpers.delete.msg'), timereport_path(timereport), :method => :delete, :confirm => t('helpers.delete.conf'), :title => "#{t('helpers.delete.msg')} #{timereport.begin}" %>
  </td>
  <% end %>
</tr>	