<h1><%= t('timereport.title') %></h1>

<% if can? :read, VolTime %>
  <%= link_to "Añadir/Acumular Tiempo", vol_times_path %> | 
<% end %>
<% if can? :read, Timereport %>
  <%= link_to "Reportar/Restar Tiempo", timereports_path %>
<% end %>

<br /><br /><h6><%= link_to t('helpers.submit.create', :model => "Nuevo Reporte de Tiempo"), new_timereport_path %></h6><br />

<%= search_form_for @search, :url => timereports_path, :html => {:method => :get} do |f| %>
  
  <h6><%= t('search.title') %></h6>	
  <%= f.label :cgdvcode_eq, t('search.cgdvcode') %>
  <%= f.text_field :volunteer_cgdvcode_eq, :size => 3 %>
  <%= f.label :evento_cont, t('volunteer.evento') %>
  <%= f.text_field :evento_cont %>
  <%= f.label :name_cont, t('patient.name') %>
  <%= f.text_field :volunteer_name_cont %><br />
  <%= f.label :day_gteq, "Desde: " %>
  <%= f.date_select :day_gteq, :default => 1.year.ago, :start_year => Time.now.year - 20, :end_year => Time.now.year %> 
  <%= f.label :day_lteq, "Hasta: " %>
  <%= f.date_select :day_lteq, :start_year => Time.now.year - 20, :end_year => Time.now.year %>
  <%= f.submit t('helpers.search') %><br /><br />
<% end %>

<strong><%= t('search.sort') %>	</strong>

<%= paginate @timereports %>

<table>
<tr>
  <td><strong><%= sort_link @search, :volunteer_cgdvcode, t('patient.cgdvcode'), :default_order => :desc %></strong></td>	
  <td><strong><%= sort_link @search, :day, t('volunteer.day'), :default_order => :desc %></strong></td>
  <td><strong><%= sort_link @search, :begin, t('volunteer.begin'), :default_order => :desc %></strong></td>
  <td><strong><%= sort_link @search, :end, t('volunteer.end'), :default_order => :desc %></strong></td>
  <td><strong><%= t('volunteer.tiempo') %></strong></td>
  <td><strong><%= sort_link @search, :evento, t('volunteer.evento') %></strong></td>
  <td></td>
  <td></td>
</tr>
	<%= render @timereports %>
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td><strong>Tiempo Total: </strong></td>
  <td><strong><%= tiempo_total(@timereports) %></strong></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
</table>


<%= paginate @timereports %>
