<tr>
  <td><%= telephone.place %>: <%= telephone.number %></td>
  <td><%= link_to t('helpers.edit'), edit_polymorphic_path([model,telephone]) %></td>
  <td><%= link_to t('helpers.delete.msg'), polymorphic_path([model,telephone]), :method => :delete, :confirm => t('helpers.delete.conf'),
                                :title => "#{t('helpers.delete.msg')} #{telephone.number}" %></td>
</tr>
