.container {
  width: 900px;
}

body {
  background: #ffbf40;
}


textarea {
  height: 10em;
  width: 30em;
  margin-bottom: 0;
}

form.new_activity_report, form.edit_activity_report {
  margin-bottom: 0.5em;
}

form.new_activity_report, form.edit_activity_report textarea {
  height: 20em;
  width: 60em;
  margin-bottom: 0;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}


.smally {
  font-size: 85%;
}
/*
  Tables
  You can zebra-stripe your tables in outdated browsers by adding
  the class "even" to every other table row.
 */

thead th      { background: #FFCC66; }
tbody tr:nth-child(even) td,
tbody tr.even td  {
  background: #FFEECC;
}

/* Links */

a {
  color: #a66f00;
  text-decoration: none;
}

a:hover {
  color: #a66f00;
  text-decoration: underline;
}

a:visited {
  color: #a66f00;
}

/* Main Layout */
.main {
  padding: 0.5em;
}

.main ul {
  margin: 0;
  padding: 0;
}

.main ul li {
  list-style-type: none;
  display: list-item;
  padding: 0.2em 0;
}

.main ul li a {
  padding: 0 5px;
  font-weight: normal;
}

.main ul li a:visited {
  color: #a66f00;
}

.main ul li a:hover {
  text-decoration: underline;
}

/* Navigation Bar */
.navbar {
  text-align: center;
  margin-top: 0.5em; 	
  background-color: white;
  padding: 0 0.7em;
  font-size: 120%;
}

.navbar ul {
  margin: 0;
  padding: 0;	
}

.navbar ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.1em 0;
}

.navbar ul li a {
  padding: 0 5px;
  font-weight: bold;
}

.navbar ul li a:visited {
  color: #a66f00;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

/* Navigation for Users */

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
  float: right;
  clear: right;
  margin-bottom: 5px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #a66f00;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #bf8f30;
  font-size: 150%;
  font-weight: bold;
  padding: 10px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Footer */
footer {
  text-align: center;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-size: 120%;
}

footer nav {
  float: none;
}

/* User show page */


div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

.avatar {
  border: 1px dashed #000;
  margin: 0px 30px 0px 0px;
  float: left;
}

.avatarsmally {
  border: 1px dashed #000;
  margin: 0px 10px 0px 0px;
  float: left;
}

.titlevol {
  margin-top: 30px;
}

.useravatar {
  border: 1px dashed #000;
}

/* Para el Javascript de contar palabras y caracteres */

.originalDisplayInfo {
  text-align: right;
  font-size: 12px;
  color: #333333;
}

.warningDisplayInfo {
	text-align: right;
	font-size: 12px;
	color: #96201A;
}