<p>Hola <%= @resource.email %>!</p>

<p>su cuenta ha sido bloqueada debido a una excesiva cantidad de intentos fallidos para entrar a su cuenta.</p>

<p>Haga clic en el enlace de abajo para desbloquear su cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta.', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
