<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :datos %><br />
  <%= f.text_field :datos %><br />

  <%= f.label :email %><br />
  <%= f.text_field :email %><br />
</div>