<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= render 'layouts/includes' %>
    <%= csrf_meta_tag %>
    <%-# render 'layouts/ga' if Rails.env.production? -%>
    <%= render 'layouts/ga'%>

  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <div class="navbar round">
        <%= render 'layouts/navigation' %>
      </div>
      <div class="navbar round">
        <%= render 'layouts/navigation2' %>
      </div>  
      <section class="round">
      	<% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <div class="main">
		  <%= yield %>
		</div>
      </section>
      
      <%= render 'layouts/footer' %>
      <%= render 'layouts/footer2' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
